/*********************************************************************/
/* COLORS */

:root {
  --bg-color-top: #cdffd8; 
  --bg-color-bottom: #94b9ff;
  --bg-text: #2C508C;
  --desktopbar-background: #57cbcd;
  --desktopbar-border: #2C508C;
  --desktopbar-text: #2C508C;
  --window-border: #2C508C;   
  --window-content-background: #CAEFE6;
  --window-controlbar-text: #2C508C;
  --window-stat-text: #57cbcd;
  --window-titlebar-text: #2C508C;  
  --window-titlebar-buttons: #2C508C;   
  --window-titlebar-background: #8BDEDF;
  --window-titlebar-highlights: #F2FCFC;     
}

/*********************************************************************/
/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, var(--bg-color-top) 0%, var(--bg-color-bottom) 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body,
.desktop,
.app-window,
#graph-container,
#graphCanvas {
  cursor: url("assets/cursor/cursor.png") 0 0, auto;
  image-rendering: pixelated;
}

button:hover,
button:hover * {
  cursor: url("assets/cursor/pointer.png") 0 0, pointer !important;
  image-rendering: pixelated;
}

#algoSelect:hover {
  cursor: url("assets/cursor/pointer.png") 0 0, pointer !important;
}

/*********************************************************************/
/* BACKGROUND */

/* BACKGROUND-IMAGES */
.background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  z-index: -3;   
  overflow: hidden;
  pointer-events: none; 
}

.bg-img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.bg-img.top {
  top: 0;
  height: 1200px; 
}

.bg-img.bottom {
  bottom: 0;
  height: 1200px;
}


/* BACKGROUND-OBJECTS */

.background-objects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;            
  pointer-events: none;
}

.bg-object {
  position: absolute;
  object-fit: contain;
}

.cloud-1 {
  /* top: -40px; */
  bottom: 760px;
  left: 80%;
  width: auto;
  height: 200px;
}

.cloud-2 {
  /* top: 130px; */
  bottom: 690px;
  left: 15%;
  width: auto;
  height: 100px;
}

.cloud-3 {
  /* top: 110px; */
  bottom: 700px;
  left: 26%;
  width: auto;
  height: 110px;
}

.cloud-4 {
  /* top: 400px; */
  bottom: 420px;
  left: 75%;
  width: auto;
  height: 100px;
}

.cloud-5 {
  /* top: 500px; */
  bottom: 260px;
  left: -8%;
  width: auto;
  height: 160px;
}

.cloud-6 {
  /* top: 650px; */
  bottom: 200px;
  left: 92%;
  width: auto;
  height: 90px;
}

.mountain-1 {
  bottom: -10px;
  left: -2%;
  width: auto;
  height: 150px;
}

.mountain-2 {
  bottom: -10px;
  left: 22%;
  width: auto;
  height: 150px;
}

.mountain-3 {
  bottom: -10px;
  left: 46%;
  width: auto;
  height: 150px;
}

.mountain-4 {
  bottom: -10px;
  left: 75%;
  width: auto;
  height: 150px;
}

.star-1 {
  /* top: 30px; */
  bottom: 800px;
  left: 75%;
  width: auto;
  height: 90px;
}

.star-2 {
  /* top: 40px; */
  bottom: 780px;
  left: 35%;
  width: auto;
  height: 100px;
}

.star-3 {
  /* top: 340px; */
  bottom: 500px;
  left: 85%;
  width: auto;
  height: 100px;
}

.star-4 {
  /* top: 480px; */
  bottom: 350px;
  left: 10%;
  width: auto;
  height: 100px;
}

.star-5 {
  /* top: 730px; */
  bottom: 110px;
  left: 4%;
  width: auto;
  height: 80px;
}

.star-6 {
  /* top: 750px; */
  bottom: 100px;
  left: 82%;
  width: auto;
  height: 70px;
}


/* BACKGROUND-APPS */

.background-apps {
  position: fixed;
  top: 80px;   
  left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 80px);  
  grid-auto-rows: 110px;                   
  gap: 0 16px; 
  z-index: -1;              
  pointer-events: none;           
}

.bg-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 70px;
}

.bg-app img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  pointer-events: none;
}

.bg-app span {
  font-size: 13px;
  color: var(--bg-text);
  text-align: center;
  font-weight: 500;
}

/*********************************************************************/
/* DESKTOP */

.desktop {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}


/* DESKTOP-BAR */

.desktop-bar {
  height: 48px;
  border-radius: 50px;
  background: var(--desktopbar-background);
  border: 3px solid var(--desktopbar-border);
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 24px;
  color: var(--desktopbar-text);
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.desktop-left {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-self: start;
}

.desktop-right {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-self: end;
}

.desktop-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.desktop-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop-icon {
  object-fit: contain;
}

.desktop-icon.wifi {
  width: 18px;
  height: 18px;
}

.desktop-icon.battery {
  width: 28px;
  height: 28px;
}

.desktop-datetime {
  display: flex;
  align-items: center;
  gap: 11px; 
}


/* DESKTOP-MAIN */

.desktop-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}


/*********************************************************************/
/* WINDOW */

.app-window {
  width: min(850px, 100%);
  height: min(600px, 100%);
  background: var(--window-content-background);
  border-radius: 3px;
  border: 3px solid var(--window-border);
  box-shadow: 0 18px 40px rgba(0,0,0,0.40);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* WINDOW-TITLEBAR */

.window-titlebar {
  height: 40px;
  background: var(--window-titlebar-background);
  border-bottom: 3px solid var(--window-border);
  display: flex;
  align-items: center;
  padding: 0 12px 14px 0;
  position: relative;
}

.window-highlights {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.window-highlight.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;  
  background: var(--window-titlebar-highlights);
}

.window-highlight.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;  
  height: 100%;
  background: var(--window-titlebar-highlights);
}

.window-title {
  position: relative;
  margin-right: auto;
  font-size: 13px;
  font-weight: 500;
  color: var(--window-titlebar-text); 
  display: flex;
  padding-top: 14px;
  padding-left: 12px;
}

.window-buttons {
  position: relative;
  margin-left: auto;
  display: flex;
  gap: 8px;
  padding-top: 14px;
}

.window-btn {
  width: 16px;
  height: 16px;
  border-radius: 1px;
}

.window-btn.close {
  background: var(--window-titlebar-buttons);
}
.window-btn.minimize {
  background: var(--window-titlebar-buttons);
}
.window-btn.maximize {
  background: var(--window-titlebar-buttons);
}


/* WINDOW-CONTENT */

.app-content {
  flex: 1;
  background: var(--window-content-background);
  padding: 12px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

#graph-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

#graphCanvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}


/* WINDOW-CONTROLS & STATS */

.control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* CONTROLS */

.controls { 
  display: flex; 
  flex-direction: column; 
  gap: 4px; 
  font-size: 13px; 
  align-items: start;
}


/* CONTROLS-DROPDOWN */

.control-label { 
  text-transform: uppercase;
  color: var(--window-controlbar-text); 
  font-size: 13px; 
  font-weight: 500;
}

.controls-container { 
  display: flex; 
  flex-direction: row; 
  gap: 5px; 
}

.algoSelect-container { 
  position: relative;
  width: 270px;     
  height: 40px;
  display: flex;
}

.algo-select-img {
  width: 270px;
  height: 40px;
  image-rendering: pixelated;
  pointer-events: none; 
}

#algoSelect {
  position: absolute;
  inset: 0;            
  opacity: 0;    
  cursor: pointer;
  border: none;
  background: transparent;
}

.algoSelect-container:hover .algo-select-img {
  transform: scale(1.021);
  filter: brightness(1.15);
}

.algoSelect-container:active .algo-select-img {
  transform: scale(0.92);
}


/* CONTROLS-BUTTONS */

.algoBtns-container { 
  gap: 5px; 
  display: flex; 
}

.algo-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.algo-btn img {
  width: 40px;     
  height: 40px;    
  image-rendering: pixelated;
  cursor: pointer;

  transition: transform 0.15s ease, filter 0.15s ease;
}

.algo-btn img:hover {
  transform: scale(1.07);
  filter: brightness(1.15);
}

.algo-btn img:active {
  transform: scale(0.92);
}

.algo-btn[disabled] {
  pointer-events: none;
}

.algo-btn[disabled] img {
  opacity: 0.50;
  transform: none;
}


/* STATS */

.stats {
  display: flex;
  gap: 16px;      
}

.stats-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 120px;   
}

.stats-column.complexity {
  flex-basis: 120px;
}

.stats-column.metrics {
  flex-basis: 120px;
}

.stats-column.path {
  flex-basis: 100px;
}

.stats-heading {
  text-transform: uppercase;
  padding-bottom: 4px;
  color: var(--window-controlbar-text);
  font-size: 13px;
  font-weight: 500;
}

.stats-column span b {
  color: var(--window-controlbar-text);
  font-size: 13px;
  font-weight: 600;
}

.stats-column span span {
  color: var(--window-stat-text);
  font-size: 13px;
  font-weight: 700;
}
