/*********************************************************************/
/* COLORS */

:root {
  --bg-color-top: #cdffd8; 
  --bg-color-bottom: #94b9ff;
  --bg-text: #2C508C;
  --desktopbar-background: #57cbcd;
  --desktopbar-border: #2C508C;
  --desktopbar-text: #2C508C;
  --window-border: #2C508C;   
  --window-content-background: #CAEFE6;  
  --window-titlebar-buttons: #2C508C;   
  --window-titlebar-background: #8BDEDF;
  --window-titlebar-highlights: #F2FCFC;     
}

/*********************************************************************/
/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, var(--bg-color-top) 0%, var(--bg-color-bottom) 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************************/
/* BACKGROUND */

/* BACKGROUND-IMAGES */
.background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  z-index: -3;   
  overflow: hidden;
  pointer-events: none; 
}

.bg-img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.bg-img.top {
  top: 0;
  height: 1200px; 
}

.bg-img.bottom {
  bottom: 0;
  height: 1200px;
}


/* BACKGROUND-OBJECTS */

.background-objects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;            
  pointer-events: none;
}

.bg-object {
  position: absolute;
  object-fit: contain;
}

.cloud-1 {
  top: -40px;
  left: 80%;
  width: auto;
  height: 200px;
}

.cloud-2 {
  top: 130px;
  left: 15%;
  width: auto;
  height: 100px;
}

.cloud-3 {
  top: 110px;
  left: 26%;
  width: auto;
  height: 110px;
}

.cloud-4 {
  top: 400px;
  left: 75%;
  width: auto;
  height: 100px;
}

.cloud-5 {
  top: 500px;
  left: -8%;
  width: auto;
  height: 160px;
}

.cloud-6 {
  top: 650px;
  left: 92%;
  width: auto;
  height: 90px;
}

.mountain-1 {
  top: 86%;
  left: -2%;
  width: auto;
  height: 150px;
}

.mountain-1 {
  bottom: -10px;
  left: -2%;
  width: auto;
  height: 150px;
}

.mountain-2 {
  bottom: -10px;
  left: 22%;
  width: auto;
  height: 150px;
}

.mountain-3 {
  bottom: -10px;
  left: 46%;
  width: auto;
  height: 150px;
}

.mountain-4 {
  bottom: -10px;
  left: 75%;
  width: auto;
  height: 150px;
}

.star-1 {
  top: 30px;
  left: 75%;
  width: auto;
  height: 90px;
}

.star-2 {
  top: 40px;
  left: 35%;
  width: auto;
  height: 100px;
}

.star-3 {
  top: 340px;
  left: 85%;
  width: auto;
  height: 100px;
}

.star-4 {
  top: 480px;
  left: 10%;
  width: auto;
  height: 100px;
}

.star-5 {
  top: 730px;
  left: 4%;
  width: auto;
  height: 80px;
}

.star-6 {
  top: 750px;
  left: 82%;
  width: auto;
  height: 70px;
}


/* BACKGROUND-APPS */

.background-apps {
  position: fixed;
  top: 80px;   
  left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 80px);  
  grid-auto-rows: 110px;                   
  gap: 0 16px; 
  z-index: -1;              
  pointer-events: none;           
}

.bg-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 70px;
}

.bg-app img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  pointer-events: none;
}

.bg-app span {
  font-size: 13px;
  color: var(--bg-text);
  text-align: center;
  font-weight: 500;
}

/*********************************************************************/
/* DESKTOP */

.desktop {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}


/* DESKTOP-BAR */

.desktop-bar {
  height: 48px;
  border-radius: 50px;
  background: var(--desktopbar-background);
  border: 3px solid var(--desktopbar-border);
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 24px;
  color: var(--desktopbar-text);
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.desktop-left {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-self: start;
}

.desktop-right {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-self: end;
}

.desktop-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.desktop-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop-icon {
  object-fit: contain;
}

.desktop-icon.wifi {
  width: 18px;
  height: 18px;
}

.desktop-icon.battery {
  width: 28px;
  height: 28px;
}

.desktop-datetime {
  display: flex;
  align-items: center;
  gap: 11px; 
}


/* DESKTOP-MAIN */

.desktop-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}


/*********************************************************************/
/* WINDOW */

.app-window {
  width: min(850px, 100%);
  height: min(600px, 100%);
  background: var(--window-content-background);
  border-radius: 3px;
  border: 3px solid var(--window-border);
  box-shadow: 0 18px 40px rgba(0,0,0,0.40);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* WINDOW-TITLEBAR */

.window-titlebar {
  height: 40px;
  background: var(--window-titlebar-background);
  border-bottom: 3px solid var(--window-border);
  display: flex;
  align-items: center;
  padding: 0 12px 14px 0;
  color: #9ca3af;
  position: relative;
}

.window-highlights {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.window-highlight.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;  
  background: var(--window-titlebar-highlights);
}

.window-highlight.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;  
  height: 100%;
  background: var(--window-titlebar-highlights);
}

.window-title {
  position: relative;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
  color: #2C508C; 
  display: flex;
  padding-top: 14px;
  padding-left: 12px;
}

.window-buttons {
  position: relative;
  margin-left: auto;
  display: flex;
  gap: 8px;
  padding-top: 14px;
}

.window-btn {
  width: 16px;
  height: 16px;
  border-radius: 1px;
}

.window-btn.close {
  background: var(--window-titlebar-buttons);
}
.window-btn.minimize {
  background: var(--window-titlebar-buttons);
}
.window-btn.maximize {
  background: var(--window-titlebar-buttons);
}


/* WINDOW-CONTENT */

.app-content {
  flex: 1;
  background: var(--window-content-background);
  padding: 12px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

#graph-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

#graphCanvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}


/* WINDOW-CONTROLS & STATS */

.information-bar {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.controls { 
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
  font-size: 13px; 
}

.control-label { 
  color: #111827; 
  font-size: 13px; 
}

.controls-container { 
  display: flex; 
  flex-direction: row; 
  gap: 5px; 
  align-items: center; 
}

.algoSelect-container { 
  display: flex; 
}

#algoSelect {
  padding: 6px; 
  border-radius: 6px; 
  border: 1px solid #475569; 
  background: #111827; 
  color: #e5e7eb; 
}

#algoSelect:focus { 
  outline: none; 
  border-color: #3b82f6; 
}

.algoBtns-container { 
  gap: 5px; 
  display: flex; 
}

#runBtn { 
  padding: 8px 10px; 
  border-radius: 6px; 
  border: 1px solid #4b5563; 
  background: #1e293b; 
  color: #e5e7eb; 
  cursor: pointer; 
}

#runBtn:hover { 
  background: #334155; 
}

#pauseBtn { 
  padding: 8px 10px; 
  border-radius: 6px; 
  border: 1px solid #4b5563; 
  background: #1e293b; 
  color: #e5e7eb; 
  cursor: pointer; 
}

#pauseBtn:hover { 
  background: #334155; 
}

.stats {
  display: flex;
  gap: 16px;        
  font-size: 15px;
  color: #2C508C; 
  font-weight: 500;
  padding-bottom: 8px;
}