/*********************************************************************/
/* COLORS */

:root {
  --bg-app-title: #2C508C;
  --desktopbar-background: #57cbcd;
  --desktopbar-border: #2C508C;
  --window-border: #2C508C;   
  --window-content-background: #CAEFE6;  
  --window-titlebar-buttons: #2C508C;   
  --window-titlebar-background: #8BDEDF;
  --window-titlebar-highlights: #F2FCFC;     
}

/*********************************************************************/
/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #cdffd8 0%, #94b9ff 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************************/
/* BACKGROUND */

.background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  z-index: -1;   
  overflow: hidden;
  pointer-events: none; 
}

.bg-img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.bg-img.top {
  top: 0;
  height: 1200px; 
}

.bg-img.bottom {
  bottom: 0;
  height: 1200px;
}

.background-apps {
  position: fixed;
  top: 80px;   
  left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 80px);  
  grid-auto-rows: 110px;                   
  gap: 0 16px;               
  pointer-events: none; 
  z-index: -1;          
}

.bg-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 70px;
}

.bg-app img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  pointer-events: none;
}

.bg-app span {
  font-size: 13px;
  color: var(--bg-app-title);
  text-align: center;
  font-weight: 500;
}

/*********************************************************************/
/* DESKTOP */

.desktop {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}


/* DESKTOP-BAR */

.desktop-bar {
  height: 48px;
  border-radius: 50px;
  background: var(--desktopbar-background);
  border: 3px solid var(--desktopbar-border);
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 12px;
  color: var(--desktopbar-border);
  font-size: 13px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.desktop-bar > div:last-child {
  justify-self: end; 
}
.desktop-bar > div:first-child {
  justify-self: start; 
}


/* DESKTOP-MAIN */

.desktop-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}


/*********************************************************************/
/* WINDOW */

.app-window {
  width: min(850px, 100%);
  height: min(600px, 100%);
  background: var(--window-content-background);
  border-radius: 3px;
  border: 3px solid var(--window-border);
  box-shadow: 0 18px 40px rgba(0,0,0,0.40);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* WINDOW-TITLEBAR */

.window-titlebar {
  height: 40px;
  background: var(--window-titlebar-background);
  border-bottom: 3px solid var(--window-border);
  display: flex;
  align-items: center;
  padding: 0 12px 14px 0;
  color: #9ca3af;
  position: relative;
}

.window-highlights {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.window-highlight.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;  
  background: var(--window-titlebar-highlights);
}

.window-highlight.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;  
  height: 100%;
  background: var(--window-titlebar-highlights);
}

.window-title {
  position: relative;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
  color: #2C508C; 
  display: flex;
  padding-top: 14px;
  padding-left: 12px;
}

.window-buttons {
  position: relative;
  margin-left: auto;
  display: flex;
  gap: 8px;
  padding-top: 14px;
}

.window-btn {
  width: 16px;
  height: 16px;
  border-radius: 1px;
}

.window-btn.close {
  background: var(--window-titlebar-buttons);
}
.window-btn.minimize {
  background: var(--window-titlebar-buttons);
}
.window-btn.maximize {
  background: var(--window-titlebar-buttons);
}


/* WINDOW-CONTENT */

.app-content {
  flex: 1;
  background: var(--window-content-background);
  padding: 12px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

#graph-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

#graphCanvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}


/* WINDOW-CONTROLS & STATS */

.information-bar {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.controls { 
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
  font-size: 13px; 
}

.control-label { 
  color: #111827; 
  font-size: 13px; 
}

.controls-container { 
  display: flex; 
  flex-direction: row; 
  gap: 5px; 
  align-items: center; 
}

.algoSelect-container { 
  display: flex; 
}

#algoSelect {
  padding: 6px; 
  border-radius: 6px; 
  border: 1px solid #475569; 
  background: #111827; 
  color: #e5e7eb; 
}

#algoSelect:focus { 
  outline: none; 
  border-color: #3b82f6; 
}

.algoBtns-container { 
  gap: 5px; 
  display: flex; 
}

#runBtn { 
  padding: 8px 10px; 
  border-radius: 6px; 
  border: 1px solid #4b5563; 
  background: #1e293b; 
  color: #e5e7eb; 
  cursor: pointer; 
}

#runBtn:hover { 
  background: #334155; 
}

#pauseBtn { 
  padding: 8px 10px; 
  border-radius: 6px; 
  border: 1px solid #4b5563; 
  background: #1e293b; 
  color: #e5e7eb; 
  cursor: pointer; 
}

#pauseBtn:hover { 
  background: #334155; 
}

.stats {
  display: flex;
  gap: 16px;        
  font-size: 15px;
  color: #2C508C; 
  font-weight: 500;
  padding-bottom: 8px;
}